In [13]:
!pip install -q plotly

E: Unable to locate package plotly

In [0]:
import pandas as pd
import numpy as np
import plotly.graph_objects as go

In [0]:
dataURL = "https://gist.githubusercontent.com/alti-tude/710cb9d4dfc7ebcd0afb9cf93d8f6a8d/raw/574730ba009e69b81d6c79f2fef2c3dd5145db0a/"

In [19]:
df = pd.read_csv(dataURL+'purchases.csv',index_col = 0)
df

        apples  oranges
June         3        0
Robert       2        3
Lily         0        7
David        1        2

In [0]:
dfj = pd.read_json(dataURL+'purchases.json')

In [0]:
movie = pd.read_csv(dataURL+'IMDB-Movie-Data.csv',index_col='Title')

In [29]:
movie.info()
movie.shape
movie.rename(columns = {"Runtime (Minutes":"Runtime"},inplace=True)

<class 'pandas.core.frame.DataFrame'>
Index: 1000 entries, Guardians of the Galaxy to Nine Lives
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Rank                1000 non-null   int64
 1   Genre               1000 non-null   object
 2   Description         1000 non-null   object
 3   Director            1000 non-null   object
 4   Actors              1000 non-null   object
 5   Year                1000 non-null   int64
 6   Runtime (Minutes)   1000 non-null   int64
 7   Rating              1000 non-null   float64
 8   Votes               1000 non-null   int64
 9   Revenue (Millions)  872 non-null    float64
 10  Metascore           936 non-null    float64
dtypes: float64(3), int64(4), object(4)
memory usage: 133.8+ KB

In [46]:
music = pd.read_csv(dataURL+'MusicTop50.csv',index_col='Track.Name')
music.iloc[0:5]
music.head()
music.iloc[-6:-1]
music.info()
music.rename(columns = {"Beats.Per.Minute":"BPM","Danceability..db..":"Ddb","Loudness..":"Loudness","Liveness.":"Liveness"},inplace=True)
music.info()

<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Se�orita to Cross Me (feat. Chance the Rapper & PnB Rock)
Data columns (total 13 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Unnamed: 0          50 non-null     int64
 1   Artist.Name         50 non-null     object
 2   Genre               50 non-null     object
 3   Beats.Per.Minute    48 non-null     float64
 4   Energy              49 non-null     float64
 5   Danceability..db..  50 non-null     int64
 6   Loudness..          50 non-null     int64
 7   Liveness.           48 non-null     float64
 8   Valence ()          49 non-null     float64
 9   Length              47 non-null     float64
 10  Acousticness        50 non-null     int64
 11  Speechiness         50 non-null     int64
 12  Popularity          49 non-null     float64
dtypes: float64(6), int64(5), object(2)
memory usage: 5.5+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 50 entries, Se�orita to Cross Me (feat. Chance the Rapper & PnB Rock)
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    50 non-null     int64
 1   Artist.Name   50 non-null     object
 2   Genre         50 non-null     object
 3   BPM           48 non-null     float64
 4   Energy        49 non-null     float64
 5   Ddb           50 non-null     int64
 6   Loudness      50 non-null     int64
 7   Liveness      48 non-null     float64
 8   Valence ()    49 non-null     float64
 9   Length        47 non-null     float64
 10  Acousticness  50 non-null     int64
 11  Speechiness   50 non-null     int64
 12  Popularity    49 non-null     float64
dtypes: float64(6), int64(5), object(2)
memory usage: 5.5+ KB

In [0]:
music.fillna(music.mean(),inplace=True)

In [73]:
pop = music[music["Popularity"] == music["Popularity"].min()].iloc[0]['Artist.Name']
loud = music[ music["Artist.Name"] == pop and music['Loudness'] == music['Loudness'].max()]

ValueError: ignored